<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Каталог автомобілів{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <div class="logo">Каталог автомобілів</div>
        <nav>
            <a href="{{ url_for('index') }}">Головна</a>
            <a href="{{ url_for('author') }}">Про автора</a>
            <a href="{{ url_for('cars') }}">Каталог автомобілів</a>
        </nav>
    </header>

    <div class="container">
        {% block content %}{% endblock %}
    </div>
</body>
</html>